@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /*Variaveis CSS - Nome da loja: ctech - bg: background - btn: buttom */
  --ctech-color-bg-primary: #e8e8e8;
  --ctech-color-bg-secondary: #ffe500;
  --ctech-color-bg-tertiary: #636363;

  --ctech-color-card-bg: #fff;
  --ctech-color-card-border: #d9d9d9;

  --ctech-color-btn-primary: #3483fa;
  --ctech-color-btn-inverse: #fff;

  --ctech-color-font-primary: #636363;
  --ctech-color-font-secondary: #0caf1d;
  --ctech-color-font-tertiary: #fff;
  --ctech-color-font-placeholder: #d9d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  /* background-color: var(--ctech-color-bg-primary); */
  background-color: darkslategrey;
}
main {
  padding: 0 20px;
}

/* ================================================================ */
/* Generic/Gloabl Styles */
.ctech-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.ctech-mb20 {
  margin-bottom: 20px;
}
.ctech-mt20 {
  margin-top: 20px;
}

/* ================================================================ */
/*Header Styles*/

header {
  background-color: var(--ctech-color-bg-secondary);
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav {
  color: var(--ctech-color-font-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  font-size: 24px;
  font-weight: 700;
}
nav a {
  font-size: 14px;
  font-weight: 700;
}

/* ================================================================ */
/*Card Styles*/

.ctech-card {
  border: 1px solid var(--ctech-color-card-border);
  background-color: var(--ctech-color-card-bg);
  border-radius: 4px;
}

.ctech-line-bootom {
  border-bottom: 2px var(--ctech-color-card-border);
}

/* ================================================================ */
/*Button Styles*/
.ctech-btn-page-container {
  width: 100%;
}
@media (min-width: 576px) {
  .ctech-btn-page-container {
    width: 220px;
  }
}

.ctech-btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctech-btn-blue {
  background-color: var(--ctech-color-btn-primary);
  color: var(--ctech-color-btn-inverse);
}
.ctech-btn-white {
  background-color: var(--ctech-color-btn-inverse);
  color: var(--ctech-color-btn-primary);
  border-radius: 1px solid var(--ctech-color-btn-primary);
}
.ctech-btn-next-page {
  padding: 10px;
  border-radius: 4px;
  color: var(--ctech-color-btn-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 1px solid var(--ctech-color-btn-primary);
  background-color: var(--ctech-color-btn-inverse);
}

/* ============================================================================ */
/* Search Bar Styles*/
.ctech-search-bar {
  height: 40px;
  display: flex;
  color: var(--ctech-color-font-primary);
}
.ctech-search-bar button,
.ctech-search-bar input {
  border: var(--ctech-color-card-border #d9d9d9);
}
.ctech-search-bar input {
  width: calc(
    100% - 80px
  ); /* calculo para ajuste da Search Bar de seu espaço de 100% - 80 pixels para ajuste dos incones */
  border-left: none;
  border-right: none;
  padding: 0 10px;
  font-size: 16px;
  color: var(--ctech-color-font-primary);
}
.ctech-search-bar input:focus {
  outline: none; /* Comando para remoção das bordas da barra de Search ao ser selecionada */
}
.ctech-search-bar input::placeholder {
  color: var(--ctech-color-font-placeholder);
}
.ctech-search-bar button {
  width: 40px;
  color: var(--ctech-color-font-primary);
}
/*Remoção da borda direta do botão de Search da barra*/
.ctech-search-bar button[type="submit"] {
  border-right: none;
  border-radius: 8px 0 0 8px;
}
/*Remoção da borda esquerda do botão de cancelar X, da barra*/
.ctech-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 8px 8px 0;
}
